html, body {
    background-color: #fff;
    font-family: 'Playfair Display', serif;
    font-weight: 200;
    margin: 0;
    padding: 0;
}

.in_out{
    color: aliceblue;
    background-color: #212529;
    padding: 1vw;
    font-size: 1vw;
    display: flex;
}
#t_service{
    margin-left: 1vw;
    width: 88%;
}
#social_network{
    margin-left: 1vw;
}
#a_in_out{
    margin-right: 1vw;
}
#label_account_text{
    padding: 0.5vw;
    font-size: 1vw;
    display: block;
    text-align: center;
}
#account_control{
    margin: 0;
    font-size: 1vw;
    padding: 1vw;
    color: white;
    background-color: #212529;
    border-bottom: solid black 0.1vw;
}
#user_name{
    color: darkorange;
    font-weight: 600;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
}
#user_status{
    color: green;
    font-size: 0.7vw;
    display: contents;
}



.main_view{
    background-image: url('../bg/hero_1.jpg');
    background-size: cover;
    height: 90vh;

    width: 100%;
    position: relative;
}
.main_view:before {
    background: rgba(0, 0, 0, 0.45);
    content: "";
    position: absolute;
    height: 90vh;

    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
}
.directions{
    display: flex;
    padding-top: 3vw;
    color: white;
    z-index: 1;
}
#a_color{
    color: white;
    text-decoration: none;
}

.label_home{
    width: 90%;
    font-size: 1.2vw;
    font-style: italic;
    font-weight: bold;
    position: absolute;
    top: 4vw;
    left: 6vw;
}
.drop_menu{
    font-size: 2vw;
    position: absolute;
    top: 4vw;
    right: 6vw;
}
#dropdown_menu{
    cursor: pointer;
}
#hidden_menu{
    padding-left: 60%;
    position: absolute;
    right: 1vw;
    cursor: pointer;
}
.menu{
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    background-color: dimgray;
    animation-name: menu;
    animation-duration: 1s;
    animation-delay: 0s;
}
@keyframes menu {
    0%   {left:0;}
    100% {left: 80%;}
  }
.header_menu{
    margin-top: 0.1vw;
    padding: 1vw;
    color: white;
    background-color: #212529;
    border-bottom: solid black 0.1vw;
}
.div1{
    padding: 1vw;
    color: white;
    background-color: #212529;
    border-bottom: solid black 0.1vw;
}
/* WELCOME */
.welcome{
    position: absolute;
    top: 30vh;
    left: 30vw;
    animation-name: welcome;
    animation-duration: 2s;
    animation-delay: 0s;
    font-size: 1vw;
}
@keyframes welcome {
    0%   {top:50vh;}
    100% {top:30vh;}
  }
#label_welcome{
    font-weight: bold;
    color: white;
    font-size: 4vw;
}
#p_welcome{
    color: darkorange;
    padding-left: 4vw;
    display: block;
    font-size: 1.2vw;
    font-style: italic;
}
.book_room{
    width: 60%;
    margin: auto;
    display: flex;
    position: absolute;
    top: 50vh;
    left: 20vw;
    color: white;
    background-color: darkgray;
}
.table_book_room{
    width: 80%;
}
.button_book_room{
    width: 20.1%;
    color: white;
    background-color: darkorange;
}
input,select,option{
    padding: 0.2vw;
    font-size: 1vw;
    overflow: hidden;
    width: 100%;
    text-align: center;
}
#selections_book{
    width: 25%;
}
table{
    border: 0;
    padding: 0.5vw;
}

input:focus,select:focus,option:focus{
    outline: none;
}
#date_book{
    width: 95%;
    height: 2vw;
    padding: 0.3vw;
    font-size: 1vw;
    color: darkred;
}
